@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

/* Mobile Layout */

body {
	font-size: 1.125rem;
	font-family: "Kumbh Sans", sans-serif;
	background-color: var(--dark-cyan);
	position: relative;
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-size: cover;
	background-image: url(../images/bg-pattern-top.svg),
		url(../images/bg-pattern-bottom.svg);
	background-position: -28.125rem -25rem, 10.9375rem 20.9375rem;
	background-repeat: no-repeat, no-repeat;
}

.container {
	background-color: #fff;
	width: 20.3125rem;
	border-radius: 1rem;
	position: relative;
	background-image: url(../images/bg-pattern-card.svg);
	background-position: top;
	background-repeat: repeat-x;
	box-shadow: 0.25rem 0.25rem 1rem rgba(12, 7, 7, 0.3);
}

.avatar-img {
	position: absolute;
	border-radius: 50%;
	border: 5px solid #fff;
	top: 5.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.person-info {
	margin-top: 13.75rem;
	text-align: center;
}

.person-info h3 {
	color: var(--very-dark-desaturated-blue);
}

.first-section span {
	font-weight: normal;
	color: var(--dark-grayish-blue);
	font-size: 1.125rem;
	margin-left: 0.625rem;
}

.first-section p {
	color: var(--dark-grayish-blue);
	font-size: 1rem;
	margin: 1rem 0;
	padding-bottom: 1.5rem;
	border-bottom: 0.0625rem solid rgba(164, 164, 160, 0.25);
}

ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 2rem auto;
	width: 80%;
	list-style-type: none;
}

.primary {
	font-weight: bold;
	color: var(--very-dark-desaturated-blue);
	margin-bottom: 10px;
}

.secondary {
	font-size: 0.75rem;
	color: var(--dark-grayish-blue);
	letter-spacing: 0.0625rem;
}

/* Mobile Layout (320w)*/

@media (max-width: 23.125rem) {
	.container {
		width: 17.5rem;
	}
}

/* Desktop Layout (1024w) */

@media (min-width: 64rem) {
	body {
		background-position: -17.1875rem -31.25rem, 43.75rem 21.875rem;
		background-size: auto;
	}

	.container {
		width: 21.875rem;
	}
}

/* Desktop Layout (1600w) */

@media (min-width: 100rem) {
	body {
		background-position: -17.1875rem -31.25rem, 75rem 30rem;
	}
}
